*.class

# Package Files #
*.war
*.ear
/.settings
/.classpath
/.project


/war/etcsite

/war/WEB-INF/deploy
/gwt-unitCache
/war/WEB-INF/classes

/war/WEB-INF/lib/gwt-servlet.jar

*.properties
/war/workspace
/war/resources/charaparser

/bin/*