#Ontology
permanentOntologyDirectory=
collectionOntologyDirectory=
etcOntologyBaseIRI=http://www.etc-project.org/owl/ontologies/
oboOntologyBaseIRI=http://purl.obolibrary.org/obo/

#Database
databaseName=
databaseUser=
databasePassword=
databaseHost=
databasePort=
database_partitionCount=2
database_minConnectionsPerPartition=10
database_maxConnectionsPerPartition=20

#Bioportal
bioportalUrl=http://data.bioontology.org
bioportalApiKey=

wordNetSource=