@import url('general.css');

#menuStart {
    background-image: url('../images/Menu_start.gif');
    background-size: 100% 100%;
    width: 100%;
    height: 130px;
    min-width: 900px;
    font-size: 11px;
    position: absolute;
    top: 143px;
    left: 0px;
}
#etcPipelineText {
    background-image: url('../images/Text.TheETCPipeLine.gif');
    background-size: 100% 100%;
    width: 200px;
    height: 34px;
    position: absolute;
    top: 47px;
    left: 50%;
    margin-left: -400px;
}
#features {
    background-image: url('../images/Features.gif');
    background-size: 100% 100%;
    width: 167px;
    height: 100px;
    position: absolute;
    top: 23px;
    right: 50%;
    margin-right: -370px;
}
#menuStartText {
    width: 300px;
    height: 50px;
    position: absolute;
    top: 17px;
    left: 50%;
    margin-left: -150px;
}
#featuresText {
    background-image: url('../images/Text.Features.gif');
    background-size: 100% 100%;
    width: 79px;
    height: 19px;
    position: absolute;
    top: 10px;
    right: 45px;
}
#featuresFirstBullet {
	position: absolute;
    top: 40px;
    left: 20px;
}
#featuresFirstText {
    position: absolute;
    top: 38px;
    left: 45px;
}
#featuresSecondBullet {
    position: absolute;
    top: 60px;
    left: 20px;
}
#featuresSecondText {
    position: absolute;
    top: 58px;
    left: 45px;
}

#featuresThirdBullet {
    position: absolute;
    top: 80px;
    left: 20px;
}
#featuresThirdText {
    position: absolute;
    top: 78px;
    left: 45px;
}
.actionImage {
	background-size: 100% 100%;
    width: 40px;
    height: 40px;
    position: absolute;
	left: 0px;
}

#semanticMarkupImage {
    background-image: url('../images/MatrixGeneration.gif');
    top: 0px;
}

#matrixGenerationImage {
    background-image: url('../images/MatrixGeneration.gif');
    top: 100px;
}


.actionText {
    background-size: 100% 100%;
	width: 156px;
    height: 29px;
    position: absolute;
    left: 60px;
}


#semanticMarkupText {
    background-image: url('../images/Text.MatrixGeneration.gif');
    top: 0px;
}

#matrixGenerationText {
    background-image: url('../images/Text.MatrixGeneration.gif');
    top: 100px;
}

.actionDescription {
	width: 500px;
    position: absolute;
    left: 60px;
}
#semanticMarkupDescription {
    top: 35px;
}
#matrixGenerationDescription {
    top: 135px;
}
.actionArrow {
    background-image: url('../images/Arrow.gif');
    background-size: 100% 100%;
    width: 50px;
    height: 94px;
    position: absolute;
    left: 570px;
}
#semanticMarkupArrow {
    top: 0px;
}
#matrixGenerationArrow {
    top: 100px;
}
.actionButton  {
    /*background-image: url('../images/ButtonGreen.gif'); */
    background-size: 100% 100%;
    width: 200px;
    height: 50px;
    position: absolute;
    left: 620px;
}
#semanticMarkupButton {
    top: 22px;
}
#semanticMarkupButtonText {
    width: 240px;
    position: absolute;
    top: 40px;
    left: 655px;
}
#matrixGenerationButton {
    top: 122px;
}
#matrixGenerationButtonText {
    width: 240px;
    position: absolute;
    top: 140px;
    left: 655px;
}

#treeGenerationImage {
    background-image: url('../images/TreeGeneration.gif');
    top: 200px;
}
#treeGenerationText {
    background-image: url('../images/Text.TreeGeneration.gif');
    top: 200px;
}
#treeGenerationDescription {
    top: 235px;
}
#treeGenerationArrow {
    top: 200px;
}
#treeGenerationButton {
    top: 222px;
}
#treeGenerationButtonText {
    width: 240px;
    position: absolute;
    top: 240px;
    left: 660px;
}
#taxonomyComparisonImage {
    background-image: url('../images/TaxonomyComparison.gif');
    top: 300px;
}
#taxonomyComparisonText {
    background-image: url('../images/Text.TaxonomyComparison.gif');
    width: 191px;
    height: 29px;
    top: 300px;
}

#taxonomyComparisonDescription {
    top: 335px;
}
#taxonomyComparisonArrow {
    top: 300px;
}
#taxonomyComparisonButton {
    top: 322px;
}
#taxonomyComparisonButtonText {
    width: 240px;
    position: absolute;
    top: 340px;
    left: 641px;
}
#visualizationImage {
    background-image: url('../images/Visualization.gif');
    top: 400px;
}
#visualizationText {
    background-image: url('../images/Text.Visualization.gif');
    width: 191px;
    height: 24px;
    top: 400px;
}
#visualizationDescription {
    top: 435px;
}
#visualizationArrow {
    top: 400px;
}
#visualizationButton {
    top: 422px;
}
#visualizationButtonText {
    width: 240px;
    position: absolute;
    top: 440px;
    left: 665px;
}
#orText {
    background-image: url('../images/Text.Or.gif');
    background-size: 100% 100%;
    width: 50px;
    height: 39px;
    position: absolute;
    top: 530px;
    left: 560px;
}
#pipelineButton {
    background-image: url('../images/ButtonGray.gif');
    background-size: 100% 100%;
    width: 200px;
    height: 50px;
    position: absolute;
    top: 522px;
    left: 620px;
}
#pipelineButtonText {
    width: 240;
    position: absolute;
    top: 540px;
    left: 665px;
}