/* * {margin:0;padding:0;}  */
html { 
	height: 100%;
}
body {
    width: 100%;
    height: 100%;
    min-width: 900px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    font-family: arial;
    margin: 0;
}
#top {
    width: 100%;
    height: 312px;
    min-width: 900px;
}
#header {
    background-image: url(../images/Header.gif);
    background-size: 100% 100%;
    width: 100%;
    height: 30px;
}
.imageLabelComposite .gwt-Label {
	padding-left: 10px;
}

.helpIcon {
    /*background-image: url('../images/Help.gif');*/
    position: absolute; 
    background-size: contain; 
    top: 5px;
    right: 50px;
    width: 20px;
    height: 20px;
}
#helpText {
    position: absolute;
    top: 8px;
    right: 15px;
}
#loginButton {
    /*background-image: url('../images/Button.gif');
    background-size: 100% 100%;
    width: 70px;
    height: 20px; */
    position: absolute;
    top: 2px;
    right: 90px;
}
/*#loginButtonText {
    width: 100px;
    position: absolute;
    top: 8px;
    right: 40px;
}*/
#passwordField {
    width: 120px;
    position: absolute;
    top: 2px;
    right: 200px;
}
#userField {
    width: 120px;
    position: absolute;
    top: 2px;
    right: 380px;
}
#loginText {
    width: 100px;
    position: absolute;
    top: 8px;
    right: 480px;
    ": ;
}
#home{
    /*background-image: url('../images/Home.gif'); */
    position: absolute;
    top: 5px;
    left: 5px;
    background-size: contain;
    width: 20px;
    height: 20px;
}
#homeText {
    width: 100px;
    position: absolute;
    top: 8px;
    left: 35px;
}
#greetingText {
    width: 100px;
    position: absolute;
    top: 8px;
    right: 600px;
}
#taskManager {
    /*background-image: url('../images/TaskManager.gif'); */
    position: absolute;
    top: 5px;
    right: 450px;
    background-size: contain;
    width: 150px;
    height: 20px;
}
#taskManagerText {
	width: 100px; 
	position:absolute; 
	top:8px; 
	right:410px;
}
#fileManager {
    /*background-image: url('../images/FileManager.gif'); */
    position: absolute;
    top: 5px;
    right: 300px;
    background-size: contain;
    width: 150px;
    height: 20px;
}
#fileManagerText {
    width: 100px;
    position: absolute;
    top: 8px;
    right: 290px;
}
#settings {
    /*background-image: url('../images/Settings.gif'); */
    position: absolute;
    top: 5px;
    right: 280px;
    background-size: contain;
    width: 20px;
    height: 20px;
}
#settingsText {
    width: 100px;
    position: absolute;
    top: 8px;
    right: 170px;
}
#logoutButton {
    /*background-image: url('../images/Button.gif');
    background-size: 100% 100%;
    width: 70px;
    height: 20px;*/
    position: absolute;
    top: 2px;
    right: 120px;
}
/*
#logoutButtonText {
    width: 100px;
    position: absolute;
    top: 8px;
    right: 73px;
}*/
#menuBackgroundLayer {
    background-image: url('../images/Menu_nonHighlighted_cut.gif');
    background-size: 100% 100%;
    width: 100%;
    height: 130px;
    min-width: 900px;
    position: absolute;
    left: 0px;
    top: 143px;
  /*  z-index: 0; */
}
#menuHighlightLayer {
    background-image: url('../images/Menu_highlighted_cut.gif');
    background-size: 100% 100%;
    width: 100%;
    height: 130px;
    min-width: 900px;
    position: absolute;
    top: 143px;
    left: 0px;
   /* z-index: 1; */
    clip: rect(0px, 0px, 0px, 0px);
}
#menuLayer {
    width: 100%;
    height: 130px;
    min-width: 900px;
    position: absolute;
    top: 143px;
    left: 0px;
}
.menuAction {
    width: 200px;
    height: 130px;
    position: absolute;
    top: 0px;
  /*  z-index: 2; */
}
#menuMatrixGenerationLink {
	outline:0;
}
#menuMatrixGeneration {
    left: 50%;
    margin-left: -400px;
}
#menuTreeGeneration {
    left: 50%;
    margin-left: -200px;
}
#menuTaxonomyComparison {
    right: 50%;
    margin-right: -200px;
}
#menuVisualization {
    right: 50%;
    margin-right: -440px;
}
.menuActionIcon {
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40px;
    left: 30px;
}
#menuMatrixGenerationIcon { background-image: url('../images/MatrixGeneration.gif') }
#menuTreeGenerationIcon { background-image: url('../images/TreeGeneration.gif') }
#menuTaxonomyComparisonIcon { background-image: url('../images/TaxonomyComparison.gif') }
#menuVisualizationIcon { background-image: url('../images/Visualization.gif') }
.menuActionText {
    width: 300px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 80px;
}
#etcLogo {
    background-image: url('../images/ETCLogo.gif');
    background-size: 100% 100%;
    width: 500px;
    height: 73px;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -250px;
}
#container { 
	/*height: 100%; */
	/*height: 100%; */
	height: calc(100% - 110px);
	/*height: 100%;*/
	/*min-height: height: 100%;*/
	min-height: calc(100% - 110px);
}
body > #container { 
	/*height: 600px;*/
	/*height: 100%;*/
	height: calc(100% - 110px);
	/*height: 100%;*/
	/*min-height: height: 100%; */
	min-height: calc(100% - 110px);
}
/*#content {
	width:100%; 
	/*height:100px; /*500px; */
	/*min-width:900px; 
	position:absolute; 
	top: 310px;
	left:0px;
	padding-bottom: 60px; /* for footer */
}*/
#content {
	position: absolute;
	top: 310px;
	left: 0px;
	overflow: auto;
	padding-bottom: 60px;
}  /* must be same height as the footer */
.bullet {
	background-image: url('../images/Success.gif');
    background-size: 100% 100%;
    width: 15px;
    height: 12px;
}
#footer {
	position: relative;
	margin-top: -60px; /* negative value of footer height */
	height: 60px;
	clear:both;
}
/*Opera Fix*/
body:before {
	/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}
#footerBackground {
	background-image:url('../images/Footer.gif'); 
	background-size: 100% 100%; 
	width: 100%; 
	height:60px;
}
#footerText {
	width: 300px; 
	position:absolute; 
	top:10; 
	left:50%; 
	margin-left: -450px;
}
#footerLogo1 {
	background-image:url('../images/CharaparserLogo.gif'); 
	background-size: 100% 100%; 
	width: 254px; 
	height: 54px; 
	position:absolute; 
	top:5; 
	left:50%; 
	margin-left: -50
}
#footerLogo2 {
	background-image:url('../images/CharaparserLogo.gif'); 
	background-size: 100% 100%; 
	width: 254px; 
	height: 54px; 
	position:absolute;
	top:5; 
	left:50%; 
	margin-left: 210
}

.content900pxCentered {
	width: 900px; 
	min-width:900px; 
	position:absolute;
	left:50%; 
	margin-left:-425px;
	height: 100px;
}
/*
green a8d04d
green 279446
green 307137 
*/
.tableHeader {
	background-color:#a8d04d;
}

#sharedTasksTable {
    margin-left: 20px;
}

.table { 
	border-width:1px;	
	border-style:solid;
}

.submenuEntry {
	margin-left: 20px;
}

#preprocessTextArea {
   width:100%;
   height:300px;
}
.gwt-Tree .gwt-TreeItem-selected {
	background:#a8d04d;
}
.gwt-Tree .gwt-TreeItem-selected  {
  display: table !important;
}

.helpLabel { 
	background: url('../images/Help.gif') no-repeat left center;
	background-size: 20px 20px;
	padding-left: 25px;
	height: 20px;
	display: table-cell;
	vertical-align: middle
}
.homeLabel { 
	background: url('../images/Home.gif') no-repeat left center;
	background-size: 20px 20px;
	padding-left: 25px;
	height: 20px;
	display: table-cell;
	vertical-align: middle
}
.taskManagerLabel { 
	background: url('../images/TaskManager.gif') no-repeat left center;
	background-size: 20px 20px;
	padding-left: 25px;
	height: 20px;
	display: table-cell;
	vertical-align: middle
}
.fileManagerLabel { 
	background: url('../images/FileManager.gif') no-repeat left center;
	background-size: 20px 20px;
	padding-left: 25px;
	height: 20px;
	display: table-cell;
	vertical-align: middle
}
.settingsLabel { 
	background: url('../images/Settings.gif') no-repeat left center;
	background-size: 20px 20px;
	padding-left: 25px;
	height: 20px;
	display: table-cell;
	vertical-align: middle
}
.fileLabel {
	background: url('../images/File.gif') no-repeat left center;
	background-size: 16px 20px;
	padding-left: 25px;
	height: 20px;
	display: table-cell;
	vertical-align: middle
}
.folderLabel { 
	background: url('../images/Folder.gif') no-repeat left center;
	background-size: 19px 20px;
	padding-left: 25px;
	height: 20px;
	display: table-cell;
	vertical-align: middle
}
/*.gwt-FileUpload {
	font-size: 10px;
	min-height: 15px;
}
.upld-status {
	display: block;
	line-height:0;
	height: 0;
	overflow: hidden;
	visibility:hidden;
}

.otoPopup {
	width:	600px;
	height: 800px;
}*/
.otoFrame {
	border: 0;
	width:	900px;
	height: 500px;
}

.fileSelect {
	width:	600px;
	height: 600px;
}

.fileContent {
	width: 800px;
	height: 500px;
}

.closingButton {
	float: right;
}

.dialogBoxTitle {
	width: 100%;
}

.contentPanel {
	border-spacing: 0px 10px;
	width: 900px;
}
.fileManagerContent{
	height: 100%;
}

.infoImage {
	height: 20px;
	width: 20px;
	padding-right: 5px;
}

.inputForm {
	border-spacing:5px;
};

.inputForm td {
	vertical-align:middle;
}

.bracketCounts {
	padding-left: 10px;	
}

.highlightGreen {
	color: #279446;
}