databaseHost=localhost
databasePort=3306
databaseName=etcsite_charaparser
databaseUser=termsuser
databasePassword=termspassword
workspaceDirectory=C:/Users/rodenhausen/etcsite/cache/charaparser
perlSourceDirectory=src/main/perl/edu/arizona/biosemantics/semanticmarkup/markupelement/description/ling/learn/lib/perl
wordNetSourceDirectory=wordnet/wn31/dict
glossariesDownloadDirectory=C:/parsing_data
ontologiesDirectory=C:/Users/rodenhausen/etcsite/ontologies
otoUrl=http://biosemantics.arizona.edu/OTO
oto2Url=http://etc-dev.cs.umb.edu/oto2
threading=false,1,1  #format {true,false},{n},{m}  where first parameter activates,deactivates; n=, m=
database_partitionCount=2
database_minConnectionsPerPartition=1
database_maxConnectionsPerPartition=3