#Database
databaseName=
databaseUser=
databasePassword=
databaseHost=
databasePort=
database_partitionCount=2
database_minConnectionsPerPartition=10
database_maxConnectionsPerPartition=20

#Temporary Storage
files = 
context = 
contextMaxHits = 

#Bioportal
bioportalUrl=http://data.bioontology.org
bioportalApiKey=

#OTO
otoClientUrl=http://biosemantics.arizona.edu:8080/OTO/

wordNetSource=